@font-face {
    font-family: 'encabezado' ;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'cuerpo' ;
    src: url(../fonts/times-sans-serif.ttf);
}
body {
    margin: 0%;
    padding: 0%;
}

/*==============================================HEADER========================================================*/
header {
    background-color: #E6E8E9;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex;             
    align-items: center;        
    justify-content: space-between;
}

.iconos {
    width: 70px;
    height: 70px;
    object-fit: contain;
}
#iconos_unam {
    display: flex;
    align-items: center;
    gap: 8px;
}
#iconos_unam .iconos{
    width: 70px;
    height: 70px;
}
#titulo_encabezado {
    color: #0D1650;
    font-size: 3.5rem;
    font-weight: 400;
    flex: 1;
    text-align: center;
}
#titulo_encabezado a {
    text-decoration: none;
}
#titulo_encabezado p {
    margin: 0%; 
}

#iconos_ete {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}
#iconos_ete .iconos {
    width: 70px;
    height: 50px;
}

/*============================================BARRA DE NAVEGACIÓN===========================================*/
.nav{
    width: 100%;
    height: 100px;
    left: 0%;
    background-color: #e6e8e993;
}
.container {
    width:90%;
    max-width:1200px;
    margin: auto;
}
.container .btn-menu {
    float:left;
    line-height: 100px;
}
.container .btn-menu label {
    color: #0f0101;
    font-size:45px;
    cursor: pointer;
}
.container .menu {
    float: right;
    line-height: 70px;
}
.container .menu a {
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    line-height: normal;
    color: #0e0202;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 200ms ease;
    font-size:25px;
}
.container .menu a:hover {
    border-bottom: 6px solid #E6E8E9;
    padding-bottom: 3px;
}
/*===========================================ASIDE=================================================*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: #0d16507e;
    z-index: 2;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
    transition: all 1000ms ease;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
    visibility: visible;
}
.cont-menu {
    max-width: 350px;
    background: #dad9d9;
    height: 135vh;
    transition: all 2000ms ease;
    transform: translateX(-100%);
    box-shadow: 2px 2px 8px rgb(4, 5, 53);
}
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(2%);
}
.cont-menu nav {
    transform: translateY(10%);
}
.cont-menu h2{
    padding: 23px;
    color: #0D1650;
    border-left:2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.cont-menu nav a {
    display: block;
    text-decoration:none;
    padding: 30px;
    color: #0D1650;
    font-size: 28px;
    border-left: 20px solid transparent;
    transition: all 500ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #FF671D;
    background: #0D1650;
    color: #f1f3fa;
}
.cont-menu label {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
}
/*================================================BODY=============================================*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
#contenedor {
    width: 100%;
    height: 100%;
    background-color: #0D1650;
    color: #FFFFFF;
    margin: 0 auto; 
    display: flex;
    flex-direction:row;
}
#alumno{
    display:flex;
    padding-top: 1.5%;
    flex-direction: row;
    padding-left: 3%;

}
#img_perfil{
    padding-left: 4%;
    padding-top: 5%;
    margin-left: 4%;
    transform: scale(1.4);
}
#datos{
    margin-left: 10%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: auto;
    padding: 20px;
    margin: 70px 0px 80px 50px;
    height: auto;
}
#datos p{
    width: 100%;
    margin-left: 10px;
}
#datos input{
    margin: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 16px;
}
.enviar-datos{
    background-color: #FF671D;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}
.enviar-datos:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.titulo{
    font-size: 6.2vb;
    font-family: 'encabezado';
    width: 60vh;
    margin: 20px;
}
.info-alumno{
    font-size: 18px;
    font-family: 'cuerpo';
}
.correo{
    font-size: 30px;
}
#comentario{
    width: 60%;
    height: 400px;
    font-size: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0px 0px 30px;
    margin: 15px 40px 30px 70px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.nombre-estudiante{
    color: #ffffff;
    font-size: 17px;
    background-color:#FF671D;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
}
.nombre-profesor{
    color: #ffffff;
    font-size: 17px;
    background-color:#E6B72D;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
}
.comentario-general{
    width: 80%;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}
/*--------------------------FOOTER--------------------------*/
footer{
    background-color: #0D1650;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #FFF;
    font: bold 15px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}
.link a{
    color: #FFFFFF;
    text-decoration: none;
}