/*------------Estilo de fuentes------------*/
@font-face {
    font-family: 'titulo';
    src: url(../fonts/times-sans-serif.ttf) format(truetype);
}
@font-face {
    font-family: 'sutbitulo';
    src: url(../fonts/BebasNeue-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'general';
    src: url(../fonts/hack-regular.ttf) format(truetype);
}
/*------------Creditos------------*/
#equipo{
    display: flex;
    justify-content: center;
    align-items: center;

}
#equipo div{
    border: 1px solid #000000;
    padding: 20px 40px 20px 40px;
    margin: 40px;
    border-radius: 15px;
    background-color: #0D1650;
    color: #ffffff;
    font-size: 15px;
    transition: transform 0.6s ease-in-out;
}
#equipo div:hover{
    transform: scale(1.2);
}
#equipo h2{
    font-family: 'subtitulo';
    font-size: 35px;
}
#equipo p{
    font-family: 'subtitulo';
    font-size: 20px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'titulo';
    font-size: 55px;
    margin-top: 10px;
}