/*------------Estilo de fuentes------------*/
@font-face {
    font-family: 'subtemas';
    src: url("../fonts/hack-regular.ttf") format(truetype);
}
/*==============================================HEADER========================================================*/
header {
    background-color: #E6E8E9;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex;             
    align-items: center;        
    justify-content: space-between;
}

.iconos {
    width: 70px;
    height: 70px;
    object-fit: contain;
}
#iconos_unam {
    display: flex;
    align-items: center;
    gap: 8px;
}
#iconos_unam .iconos{
    width: 70px;
    height: 70px;
}
#titulo_encabezado {
    color: #0D1650;
    font-size: 3.5rem;
    font-weight: 400;
    flex: 1;
    text-align: center;
}
#titulo_encabezado a {
    text-decoration: none;
}
#titulo_encabezado p {
    margin: 0%; 
}

#iconos_ete {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}
#iconos_ete .iconos {
    width: 70px;
    height: 50px;
}
/*------------Estilo de etiquetas generales------------*/
input{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px;
    padding-left: 15px;
}
/*------------Inicio de sesión------------*/
.cont-general{ 
    /*-----div, contiene el formulario-----*/
    background-color: #0D1650;
    color: #E6E8E9;
    width: 100%;    
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#img-inisesion{
    height: 617px;
    width: 550px;
}
#img-puma{
    background-color: white;
    padding: 0px 130px 0px 130px;
}
/*-----Formulario, y texto-----*/
#form-inisesion{
    font-family: 'subtemas', sans-serif;
    font-size: 32px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 25px 150px 0px 0px;
}
#envio-datos{
    display: flex;
    background-color:#FF671D;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    color: white;
    border-radius: 20%;
    font-size: 20px;
    transition: 0.5s;
}
#envio-datos:hover{
    cursor: pointer;
    font-weight: bold;
    width: 255px;
    height: 35px;
    font-size: 18px;
}
/*--------------------------FOOTER--------------------------*/
footer{
    background-color: #0D1650;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #FFF;
    font: bold 15px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}
.link a{
    color: #FFFFFF;
    text-decoration: none;
}