/*------------Estilo de fuentes------------*/
@font-face {
    font-family: 'nom-usuario';
    src: url(../fonts/times-sans-serif.ttf) format(truetype);
}
/*===========================================ASIDE=================================================*/
#btn-menu {
    display: none;
}
.container-menu {
    position: absolute;
    background: #0d16507e;
    z-index: 2;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
    transition: all 1000ms ease;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
    visibility: visible;
}
.cont-menu {
    max-width: 350px;
    background: #dad9d9;
    height: 135vh;
    transition: all 2000ms ease;
    transform: translateX(-100%);
    box-shadow: 2px 2px 8px rgb(4, 5, 53);
}
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(2%);
}
.cont-menu nav {
    transform: translateY(10%);
}
.cont-menu h2{
    padding: 23px;
    color: #0D1650;
    border-left:2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.cont-menu nav a {
    display: block;
    text-decoration:none;
    padding: 30px;
    color: #0D1650;
    font-size: 28px;
    border-left: 20px solid transparent;
    transition: all 500ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #FF671D;
    background: #0D1650;
    color: #f1f3fa;
}
.cont-menu label {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
}
#nombre-usuario{
    font-family: 'nom-usuario', sans-serif;
    font-size: 55px;
}
/*--------------------------PERFIL ALUMNO----------------------------------*/
#cont-general{
    display: flex;
    width: 100%;
}
#cont-general p{
    font-size: 20px;
}
#datos-alumno{
    display: block;
    border: 1px solid #000000;
    margin: 10px;
    padding: 30px;
}
#datos-alumno h3{
    background-color: #0D1650;
    color: #ffffff;
    border-radius: 50px;
    font-family: 'nom-usuario';
    font-size: 50px;
    padding: 18px;
    padding-left: 30px;
}
#datos-alumno p{
    padding-left: 60px;
    font-size: 30px;
}
#datos-alumno{
    width: 1000px;
    height: 100%;
    padding-left: 100px;
}
#datos-alumno p{
    background-color: #0D1650;
    color: #ffffff;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px;
    padding-left: 30px;
}
/*----------------BARRA LATERAL, PERFIL----------------*/
#barra-lateral{
    width: 600px;
    height: 100%;
    background-color: #0D1650;
    color: #ffffff;
    padding: 30px;
    margin-right: 20px;
    font-size: 30px;
}
#barra-lateral p{
    margin-left: 40px;
}
#barra-lateral button{
    background-color: #FF671D;
    color: #ffffff;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 40px;
    padding: 10px;
    cursor:pointer;
}
.alumno-icon{
    border-radius: 100px;
    margin: 20px;
    margin-left: 40px;
    
}