/*------------Estilo de fuentes------------*/
@font-face {
    font-family: 'subtemas';
    src: url("../fonts/hack-regular.ttf") format(truetype);
}
@font-face {
    font-family: 'nom-usuario';
    src: url();
}
/*------------Estilo de etiquetas generales------------*/
body{
    padding: 0%;
    margin: 0px 0px 0px 0px;
}
header{
    background-color: #E6E8E9;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 11%;
}
input{
    width: 180px;
    height: 40px;
    border-radius: 20% 20% 20% 20%;
    font-size: 20px;
}
/*------------Barra de búsqueda------------*/
.barraBusqueda{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.iconos {
    width: 50px;
    height: 70px;
}
#titulo_encabezado {
    color: #0D1650;
    font-size: 3.5rem;
    font-weight: 400;
}
#titulo_encabezado p{
    margin: 0;
}
#iconos_ete {
    display: flex;
    align-items: center;
    gap: 8px;
}
#iconos_ete .iconos {
    width: 70px;
    height: 50px;
}
/*------------Inicio de sesión------------*/
.cont-general{ 
    /*-----div, contiene el formulario-----*/
    background-color: #0D1650;
    color: #E6E8E9;
    width: 100%;    
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 76px;
}
#img-inisesion{
    height: 618px;
    width: 550px;
}
#img-puma{
    background-color: white;
    padding: 0px 130px 0px 130px;
}
/*-----Formulario, y texto-----*/
#form-inisesion{
    font-family: 'subtemas', sans-serif;
    font-size: 32px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 50px 150px 0px 0px;
}
#form-inisesion .crea-cuenta{
    font-size: 16px;
    color: #FF671D;
}
#form-inisesion .crea-cuenta:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#form-inisesion .tienes-cuenta{
    font-size: 16px;
}
#envio-datos{
    background-color:#FF671D;
    color: white;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20% 20% 20% 20%;
    font-size: 16px;
}
#envio-datos:hover{
    cursor: pointer;
    font-weight: bold;
}
/*-----Perfil alumno-----*/
#perfil .cont-general{
    background-color: white;
    
}
#form-inisesion .nomusuario-cont{

}