<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Equipo 4: Aurora Vazquez">
    <meta name="description" content="Vista del Alumno">
    <link rel="stylesheet" href="../statics/style/alumno.css">
    <title>SAETEC: Alumno</title>
</head>
<body>
    <header>
        <div id="iconos_unam">
            <img class="iconos"src="../statics/img/logo-escudo-unam.png" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo_enp.jpeg" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo-prepa6.png" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo-475años.png" alt="Escuedo de la UNAM">
        </div>
        <div id="titulo_encabezado">
            <p>SAETEC</p>
        </div>
        <div id="iconos_ete">
            <img class="iconos" src="../statics/img/logo_compu.jpeg" alt="Escudo de el Estudio Tecnico Especializado en Computacion">
            <img class="iconos" src="../statics/img/logo-ete.png" alt="Escudo de los Estudios Tecnicos de la UNAM">
            <img class="iconos" src="../statics/img/logo-ete-40años.png" alt="Escudo de los 40 años Estudios Tecnicos de la UNAM"> 
        </div>
    </header>
    <nav>
        <br>
        <a href="./index.html">Inicio</a>
    </nav>
    <br>
    <main>
        <div id="contenido">
            <div id="forms">
                <img src="../statics/img/forms.png" alt="Imagen animada de un puma que te pide completar tu perfil">
            </div>
            <div id="material">
                <div class="extras">
                    <img src="../statics/img/material_extra.png" alt="Imgen animada para ver material extra">
                </div>
                <div class="contacto">
                    <img src="../statics/img/contacta_profesor.png" alt="Imagen animada para contactar al profesor">
                </div>
            </div>
            <div id="coments">
                <img src="../statics/img/tips_alumnos.png" alt="Imagen animada para ver tips para sobrevvivir a la ete">
            </div>
        </div>
        <div id="perfil">
            <p>Holiiiii</p>
        </div>
    </main>
</body>
</html>