<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Equipo 4: Frida Garcia">
    <meta name="description" content="Lista de Alumnos">
    <link rel="stylesheet" href="../statics/style/lista-alumnos.css">
    <title>SAETEC: Lista de alumnos</title>
</head>
<body>
    <header>
        <div id="iconos_unam">
            <img class="iconos"src="../statics/img/logo-escudo-unam.png" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo_enp.jpeg" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo-prepa6.png" alt="Escuedo de la UNAM">
            <img class="iconos"src="../statics/img/logo-475años.png" alt="Escuedo de la UNAM">
        </div>
        <div id="titulo_encabezado">
            <p>SAETEC</p>
        </div>
        <div id="iconos_ete">
            <img class="iconos" src="../statics/img/logo_compu.jpeg" alt="Escudo de el Estudio Tecnico Especializado en Computacion">
            <img class="iconos" src="../statics/img/logo-ete.png" alt="Escudo de los Estudios Tecnicos de la UNAM">
            <img class="iconos" src="../statics/img/logo-ete-40años.png" alt="Escudo de los 40 años Estudios Tecnicos de la UNAM"> 
        </div>
    </header>
    <main>
        <div id="bloque-list">
            <div class="lista_alum">
                <img src="../statics/img/lista_alumnos.png" alt="Imagen para acceder a la lista de alumnos">

            </div>

            <div id="grupos">
                <div class="boton-grupos">
                    <p>Grupo: </p> 
                </div>
                <div class="boton">
                    <img src="../statics/img/boton-list-alumn.png">
                </div>
            </div>
            <div id="lista-alumnos">
                <div class="alumno">
                    <p>Alumno 1</p>
                </div>
                <div class="alumno">
                    <p>Alumno 2</p>
                </div>
                <div class="alumno">
                    <p> Fersita good </p>
                </div>
                <div class="alumno">
                    <p>Beto deidad </p>
                </div>
                <div class="alumno">
                    <p> Auro</p>
                </div><div class="alumno">
                    <p>Faty</p>
                </div>
                <div class="alumno">
                    <p>Diegood</p>
                </div>
            </div>
        </div>

        <div id="barra-lateral">
            <div class="perfil_prof">
                <p>PERFIL DEL PROFESOR </p>
            </div>
            <div  class="calendario">
                <img src="../statics/img/Calendario-2027.png">
            </div>
        </div>
    </main>
</body>
</html>