<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Equipo 4: StatHorses">
    <meta name="description" content="Mi página de encabezado">
    <link rel="stylesheet" href="../statics/style/barra-busqueda-head.css">
    <link rel="stylesheet" href="../statics/style/perfil-alumno.css">
    
    <title>SAETEC</title>
</head>
    <body>
        <!--Barra de búsqueda-->
        <header>
            <div id="iconos_unam">
                <img class="iconos" src="../statics/img/logo-escudo-unam.png" alt="Escudo de la UNAM">
                <img class="iconos" src="../statics/img/logo_enp.jpeg" alt="Escudo de la UNAM">
                <img class="iconos" src="../statics/img/logo-prepa6.png" alt="Escudo de la UNAM">
                <img class="iconos" src="../statics/img/logo-475años.png" alt="Escudo de la UNAM">
            </div>
            <div id="titulo_encabezado">
                <p>SAETEC</p>
            </div>
            <div id="iconos_ete">
                <img class="iconos" src="../statics/img/logo_compu.jpeg" alt="Escudo de el Estudio Tecnico Especializado en Computacion">
                <img class="iconos" src="../statics/img/logo-ete.png" alt="Escudo de los Estudios Tecnicos de la UNAM">
                <img class="iconos" src="../statics/img/logo-ete-40años.png" alt="Escudo de los 40 años Estudios Tecnicos de la UNAM"> 
            </div>
        </header>
        <!------------------------BARRA DE NAVEGACIÓN--------------------------------->
        <nav class="nav">
            <div class="container">
                <div class="btn-menu">
                    <label for="btn-menu">☰</label>
                </div>
                <nav class="menu">
                    <a href="./index.html">Inicio</a>
                    <a href="#">Perfil</a>
                    <a href="#">Acerca</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </nav>
        <br>
        <!-------------------------------------BARRA LATERAL----------------------------------------->
        <aside>
            <div class="capa"> </div>
            <!--	--------------->
            <input type="checkbox" id="btn-menu"/>
            <div class="container-menu">
                <div class="cont-menu">
                    <nav>
                        <h2>324308734</h2>
                        <a href="./perfil-alumno.html">Mi perfil</a>
                        <hr>
                        <a href="#">Mis calificaciones</a>
                        <hr>
                        <a href="#">Mis actividades</a>
                        <hr>
                        <a href="#">¿Cómo te has sentido?</a>
                        <hr>
                        <a href="../docs/2019_Acuerdo_Rectoria_02.pdf">Políticas de seguridad</a>
                        <hr>
                        <a href="#">Modificar datos</a>
                    </nav>
                    <label for="btn-menu">✖️</label>
                </div>
            </div>
        </aside>
    <!----------------------------------------CONTENIDO------------------------------------------->
    
        <!----Datos del pefil (nombre, correo, no. de cuenta, tel)---->
        <div class="cont-general">
            <!----Barra lateral---->
            <!--div de los datos-->
            <div >
                <div id="nomusuario-cont">
                    <p name="nombre-usuario" id="nombre-usuario">Diego Salcedo</p>
                </div>
                <div id="datos-generales">
                    <p name="correo-usuario" text="Email:">ssss@gmail.com</p>
                    <p name="no-cuenta">320300287</p>
                    <p name="telefono">55 5538383837</p>
                </div>
            </div>
        </div>
    </body>
</html>